h1 {
    font-family: 'Open Sans', sans-serif;
    color: gainsboro;
    position: absolute;
    padding-left: 20px;
}

h2 {
    font-family: 'Open Sans', sans-serif;
    color: darkgrey;
    position: absolute;
    padding-left: 20px;
    padding-top: 50px;

}

canvas {
  width:  200%;
  height: 200%;
  margin: 0px;
}

